<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header') %>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Resource</title>
    </head>

    <body>
        <%- include('../partials/navbar') %>
            <% if (user) { %>
                <h1>Edit Resource</h1>
                <form action="/resources/<%= resource.id %>?_method=PUT" method="POST">
                    <input type="text" value="<%= resource.name %>" name="name">
                    <input type="text" value="<%= resource.url %>" name="url">
                    <input type="text" value="<%= resource.notes %>" name="notes">
                    <button type="submit" class="btn btn-dark">Save Edits</button>
                </form>
                <% } %>
    </body>

</html>