<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header') %>
    <body>
        <%- include('../partials/navbar') %>
        <h1>Class Subjects</h1>
        <p>
            <% subjects.forEach(function(s) { %>
                <ul>
                    <li>
                        <a href="/subjects/<%= s._id %>">
                        <%= s.name %>
                    </a>
                    </li>
                    <form action="/subjects/<%= s._id %>?_method=DELETE"
                        class ="delete-form" method="POST">
                        <button type="submit">X</button>
                        </form>
                </ul>
           <% }); %>



        </p>
        <a href="/subjects/new">Add A Subject</a>
    </body>

</html>