<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header') %>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Subject Resources</title>
    </head>

    <body>
        <%- include('../partials/navbar') %>
            <section id="show-page">
                <div style="text-align:center">
                    <h1>
                        <%= subject.name %> Resources Page
                    </h1>
                    <% subject.resources.forEach(function(r) { %>
                        <div>
                            <label class="resources"><b>Name:</b>
                                <%= r.name %>
                            </label>
                        </div>
                        <div>
                            <label class="resources"> <b>Url:</b> <a href='<%= r.url %>'>
                                    <%= r.url %>
                                </a> </label>
                        </div>
                        <div>
                            <label class="resources"><b>Additional Notes:</b>
                                <%= r.notes %>
                            </label>
                        </div>
                        <% if (user && user.isAdmin) { %>
                            <a href="/resources/<%= r._id %>/edit">Edit Resource</a>
                            <% } %>

                                <% }); %>

                                    <% if (user && user.isAdmin) { %>
                                        <form action="/subjects/<%=subject._id %>/resources" method="POST">
                                            <label class="resources">Name:</label>
                                            <textarea name="name"></textarea>
                                            <label class="resources">Url:</label>
                                            <textarea name="url"></textarea>
                                            <label class="resources">Notes:</label>
                                            <textarea name="notes"></textarea>
                                            <button type="submit" class="btn btn-dark">Add Resource</button>
                                        </form>
                                        <% } %>
                </div>
            </section>


    </body>

</html>