<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header') %>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Subject Resources</title>
    </head>

    <body>
        <%- include('../partials/navbar') %>
            <section id="show-page">
                <h1>
                    <%= subject.name %> Resources Page
                </h1>

                <% subject.resources.forEach(function(r) { %>
                    <div>
                        <label> Name: <%= r.name %> </label>
                        <div>
                            <label> Url: <%= r.url %> </label>
                        </div>
                        <div>
                            <label> Additional Notes: <%= r.notes %> </label>
                        </div>
                        <% }); %>

                            <form action="/subjects/<%=subject._id %>/resources" method="POST">
                                <label>Name:</label>
                                <textarea name="name"></textarea>
                                <label>Url:</label>
                                <textarea name="url"></textarea>
                                <label>Notes:</label>
                                <textarea name="notes"></textarea>
                                <button type="submit">Add Resource</button>
            </section>


    </body>

</html>